{
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "printWidth": 80,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "singleAttributePerLine": true,
  "jsxParens": true,
  "htmlWhitespaceSensitivity": "strict"
}
